{% extends "base.html" %}

{% block h1_header %}
    <h3 class="text-white-50 mx-auto mt-2 mb-5">Acerca de</h3>
{% endblock h1_header %}

{% block title_head %}
    <title>Acerca de</title>
{% endblock title_head %}

{% block main %}
    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="card">
                    <div class="card-body text-center">
                        <h3 class="text-black-30 mb-3">Mi nombre es Germán Díaz</h3>
                        <p class="text-black-30">
                            Soy docente de Comunicación Social, graduado en la Universidad Nacional de Quilmes. Actualmente, estoy cursando la carrera de posgrado: Especialista en Docencia en Entornos Virtuales, orientado en docencia de nivel Superior (UVQ).
                        </p>
                        <p class="text-black-30">
                            Paralelamente, me he formado realizando cursos en redes, programación y robótica (PROGRAM.AR) orientados a la didáctica y la pedagogía escolar.
                        </p>
                        <p class="text-black-30">
                            Desde hace más de 14 años me dedico a la enseñanza, tanto en nivel primario como en secundario. Actualmente, capacito docentes de nivel inicial, primario y secundario en el área de robótica y programación educativa, diseño e impresión 3D, cultura maker y metodología STEAM.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock main %}
