



{% extends "base.html" %}

{% block h1_header %}
    <h3 class="text-white-50 mx-auto mt-2 mb-5">Detalle del Pedido - ID: {{ carrito.id }}</h3>
{% endblock h1_header %}

{% block title_head %}
    <title>Detalle del Pedido</title>
{% endblock title_head %}

{% block main %}
    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-body text-center">
                        <h3 class="text-orange-50 mb-3">Detalle</h3>
                        <img src="https://imagefullhost.com/images/2023/11/18/detalle.png" alt="Detalle" height="50px">
                        <ul>
                            
                            <li>Modelo: {{ detalles.modelo }}</li>
                            <li>Descripción: {{ detalles.descripcion | safe}}</li>
                            <li>Cantidad: {{ detalles.cantidad }}</li>
                            <li>Color: {{ detalles.color }}</li>
                            <li>Fecha: {{ detalles.fecha }}</li>
                        </ul>
                        <a class="btn btn-primary" href="{% url 'carrito' %}">VOLVER</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock main %}