{% extends "base.html" %}

{% block h1_header %}
    <h3 class="text-white-50 mx-auto mt-2 mb-5">Porta memorias</h3>
{% endblock h1_header %}

{% block title_head %}
    <title>Porta memorias</title>
{% endblock title_head %}

{% block main %}
    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-body text-center">

                        <h1 class="text-black-30">Porta memorias</h1>
                        
                        <br><br>
                        
                        <div class="gallery">
                            <figure>
                                <figcaption>Modelo circular</figcaption>
                                <img src="https://imagefullhost.com/images/2023/10/31/PhotoRoom-20230802_153731.png" alt="Imagen 1" class="img-fluid">
                            </figure>
                            <figure>
                                <figcaption>Modelo tarjetero</figcaption>
                                <img src="https://imagefullhost.com/images/2023/10/31/PhotoRoom-20230802_212624.png" alt="Imagen 2" class="img-fluid">
                            </figure>
                            <figure>
                                <figcaption>Modelo box</figcaption>
                                <img src="https://imagefullhost.com/images/2023/10/31/PhotoRoom-20230930_103237.png" alt="Imagen 3" class="img-fluid">
                            </figure>
                        </div>
                        
                        <h3 class="text-orange-50 mb-3">¡Hacé tu pedido!</h3>
                        
                        <form action="" method="POST">
                            {% csrf_token %}
                            {{ formulario.media }}
                            {{ formulario }}
                            <input type="submit" class="btn btn-primary" value="Crear">
                        </form>
                        
                        <br><br>
                        
                        
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock main %}
