{%extends "base.html"%} 

{%block h1_header%}


<h3 class="text-white-50 mx-auto mt-2 mb-5">Soporte para celulares</h3>


{%endblock h1_header%}

{%block title_head%}<title>Soporte para celulares</title>{%endblock title_head%}


{%block main%}

<br> <br>
<h3 class="text-red-50 mx-auto mt-2 mb-5">-- Hacé tu pedido! -- </h3>

<form action="" method='POST'>

    {% csrf_token %}    
    {{formulario}}
    
    <input type='submit' value='Crear'>
    
    
</form>


<!DOCTYPE html>
<html>
<head>
    <title>PRODUCTOS</title>
    <style>
        .gallery {
            display: grid;
            grid-template-columns: repeat(3, 1fr); 
            gap: 30px; 
        }
        .gallery img {
            max-width: 100%;
            height: auto;
        }
    </style>
</head>
<body>
    <br> <br>
  
<h1>Soporte Celulares</h1>
<br> <br>

<div class="gallery">
	<figure>
	<figcaption>Modelo plegable robusto</figcaption>
    <img src="https://imagefullhost.com/images/2023/10/31/IMG_20211123_171835_109.jpeg" alt="Imagen 1">
</figure>
<figure>
	<figcaption>Modelo Animales</figcaption>
    <img src="https://imagefullhost.com/images/2023/10/31/IMG_20211123_174240_006.jpeg" alt="Imagen 2">
</figure>
<figure>
	<figcaption>Modelo plagable plano</figcaption>
    <img src="https://imagefullhost.com/images/2023/10/31/20221219_200946_0000.png" alt="Imagen 3">
</figure>

	
	
    
</div>

</body>
</html>

    
{%endblock main%} 