{%extends "base.html"%} 

{%block h1_header%}


<h3 class="text-white-50 mx-auto mt-2 mb-5">Productos </h3>

{%endblock h1_header%}

{%block title_head%}


<title>PRODUCTOS</title>


	
							
	

	


{%endblock title_head%}




{%block main%}



	<!DOCTYPE html>
<html>
<head>
    <title>PRODUCTOS</title>
    <style>
        .gallery {
            display: grid;
            grid-template-columns: repeat(3, 1fr); 
            gap: 30px; 
        }
        .gallery img {
            max-width: 100%;
            height: auto;
        }
    </style>
</head>
<body>

<h1>Llaveros</h1>



<div class="gallery">
	<figure>
	<figcaption>Modelo Intax</figcaption>
	
    <img src="https://imagefullhost.com/images/2023/10/31/PhotoRoom-20230921_175209.png" alt="Imagen 1">
	</figure>

	<figure>
	<figcaption>Modelo Family</figcaption>

	<img src="https://imagefullhost.com/images/2023/10/31/PhotoRoom-20230823_164218.png" alt="Imagen 2">
</figure>
<figure>
	<figcaption>Modelo camiseta de fútbol</figcaption>

	<img src="https://imagefullhost.com/images/2023/10/31/PhotoRoom-20230802_211102.png" alt="Imagen 3">
</figure>
	
	

    
</div>

<h1>Porta Memorias</h1>

<div class="gallery">
	<figure>
	<figcaption>Modelo circular</figcaption>
    <img src="https://imagefullhost.com/images/2023/10/31/PhotoRoom-20230802_153731.png" alt="Imagen 1">
</figure>
<figure>
	<figcaption>Modelo tarjetero</figcaption>
    <img src="https://imagefullhost.com/images/2023/10/31/PhotoRoom-20230802_212624.png" alt="Imagen 2">
</figure>
<figure>
	<figcaption>Modelo box</figcaption>
    <img src="https://imagefullhost.com/images/2023/10/31/PhotoRoom-20230930_103237.png" alt="Imagen 3">
</figure>
		   
</div>

<h1>Soporte Celulares</h1>

<div class="gallery">
	<figure>
	<figcaption>Modelo plegable robusto</figcaption>
    <img src="https://imagefullhost.com/images/2023/10/31/IMG_20211123_171835_109.jpeg" alt="Imagen 1">
</figure>
<figure>
	<figcaption>Modelo Animales</figcaption>
    <img src="https://imagefullhost.com/images/2023/10/31/IMG_20211123_174240_006.jpeg" alt="Imagen 2">
</figure>
<figure>
	<figcaption>Modelo plagable plano</figcaption>
    <img src="https://imagefullhost.com/images/2023/10/31/20221219_200946_0000.png" alt="Imagen 3">
</figure>

	
	
    
</div>

</body>
</html>

	
    {%endblock main%}
 

	
	
	
	
	
	
	