{% extends "base.html" %}

{% block h1_header %}
    <h3 class="text-white-50 mx-auto mt-2 mb-5">Cerrar Sesión</h3>
{% endblock h1_header %}

{% block title_head %}
    <title>Cerrar Sesión</title>
{% endblock title_head %}

{% block main %}
    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-body text-center">
                        <h3 class="text-orange-50 mb-3">Cerraste Sesión</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock main %}
